body {
    font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
    background-color: #EEE;
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 13px;
}

h3 {
    margin-top: 0;	 
    padding-right: 15px;
    padding-left: 15px; 
}

.container {
    width: 800px;
    background-color: #FFF;
    margin: 0 auto; 
    height:650px;
}

.header {
    background-color: #FFFFFF;
}

.sidebar1 {
    float: right;
    padding-bottom: 10px;
    margin: 10px;
    width: 210px;
}

.descr{
    width: 800px;
    text-align: center;
    padding-top: 20px;
}

.add_button {
    -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
    background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
    background-color:#79bbff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #84bbf3;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #528ecc;
}.add_button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
    background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
    background-color:#378de5;
    cursor:pointer;
}.add_button:active {
    position:relative;
    top:1px;
}

.footer {
    color:#cccccc;
    height: 50px;
    text-align: center;
}

.List {
    list-style: none; 
    margin-bottom: 15px; 
}.List li:hover, .List li:active, .List li:focus {
    background-color: #FFFFFF;
    color: #999;
    cursor: pointer;
}

.employesList {
    width: 590px;
    text-align: center;
}

.pages {
    height: 35px;
    width: 590px;
    text-align: center;
}

.listLinks:link {
    color:blue;
    text-decoration: none; 
}
.listLinks:visited {
    color: gray;
    text-decoration: none;
}
.listLinks:hover, .listLinks:active, .listLinks:focus { 
    text-decoration: none;
    color: cornflowerblue;
}
